.BadgeNew_hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../Images/warCraft_4.png'), #1B1B25;
    background-size: 100% 1160px;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    color: #ffffff;
    display: flex;
  }
  
  .BadgeNew__hero-image {
    max-height: 100px;
  }
  .BadgeNew_image{
    height: 135px;
    width: 150px;
    margin: 0 2rem;
    border-radius: 20%;
  }
  h2{
      font-family: 'Times New Roman', Times, serif;
      font-style: oblique;
      font-size: 3rem;
      font-weight: bold;
      margin-top: 2rem;
  }
