.proyectos{
    background-image: url('https://a-static.besthdwallpaper.com/world-of-warcraft-elf-y-caballero-papel-pintado-22365_L.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}