.Navbar{
    width: 100%;
    padding: 0.5rem 0;
    background: rgb(238,238,238);
    box-shadow: 0 5px 10px 0 rgb(0, 11, 17);
    height: 80px;
    margin-bottom: 0.5rem;
}
.Navbar_brand{
    color: #000;
    display: flex;
    align-items: center;
}
.Navbar_brand:hover{
    color: #000;
    text-decoration: none; 
}
.Navbar_logo{
    margin-right: 0.5rem;
    width: 64px;
    height: 64px;
}